<div ng-controller="main">
    <div class="row justify-content-cente">

        <div class="col-md"></div>
            
            <div class=" col-md ">
                <h1>{{"Sonalli"}}</h1>
            </div>
            <div class=" col-md"></div>
        
        
    </div>
    <div class="row"><br></div>
    <div class="row justify-content-cente">

        <div class="col-md">
            <h4>Top 5 Canciónes más escuchadas</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">LA MALAQUEÑA DE JUQUILA (CHILENA) | 3800 escuchas</li>
                <li class="list-group-item">LA ORQUÍDEA (HUAPANGO) | 1800 escuchas</li>
                <li class="list-group-item">A VIVIR SE APRENDE VIVIENDO | 840 escuchas</li>
                <li class="list-group-item">JARABE NAYARITA (EN VIVO) | 820 escuchas</li>
                <li class="list-group-item">EL TORO RABÓN (SON DE TARIMA) | 780 escuchas</li>
            </ul>
        </div>
            
        <div class=" col-md">
            <h4>Top 5 Discos más escuchados</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">SONALLI | {{3800+1800+841+786+707+666+530+369}}</li>
                <li class="list-group-item">SESIÓN DESDE RADIO EDUCACIÓN (EN VIVO) | {{219+281+377+402+472+821}}</li>
                
            </ul>
        </div>

        <div class=" col-md">
            <h4>Top 5 Plataformas con más escuchas</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Spotify</li>
                <li class="list-group-item">YouTube</li>
                <li class="list-group-item">Amazon Unlimited</li>
                
            </ul>
        </div>
        
        
    </div>

    <div class="row justify-content-cente">

        
        
        
    </div>
</div>